.parameter {
  display: flex;
  margin-bottom: 8px;
  justify-content: space-between;
}
.parameter label {
  flex: 1;
  display: flex;
  align-items: center;
}

.parameter input[type="radio"] {
  appearance: none;
  display: block;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 100%;
  background: var(--gray-color);
  transition: background 0.1s, box-shadow 0.1s;
  margin-right: 16px;
}

input[type="radio"]:checked {
  box-shadow: 0px 0px 3px 3px #fa52528f;
  background: var(--led-color);
}

canvas {
  border-radius: 8px;
  background-color: var(--gray-color);
}

#filter-response {
  width: 100%;
  height: 200px;
}
#oscilloscope {
  width: 100%;
  height: 100%;
}

.tone-view {
  width: 200px;
  height: 200px;
}

.synth {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.smor {
  width: 800px;
  background: var(--bg-color);
  box-sizing: border-box;
  padding: 24px;
}

.smor__row {
  display: flex;
}

.smor__row > * {
  align-items: center;
  flex: 1;
}

.grid__oscillator {
  grid-column: 1;
  grid-row: 2;
}

.grid__saw {
  grid-column: 1;
  grid-row: 3;
}
.grid__filter {
  grid-column: 2 / 4;
  grid-row: 2;
}
.grid__oscilloscope {
  grid-column: 2 / 4;
  grid-row: 3;
}

.box {
  position: relative;
  border: 4px solid black;
  padding: 16px;
}
.box h3 {
  position: absolute;
  background-color: var(--bg-color);
  top: -33px;
  left: 20px;
  text-transform: uppercase;
  padding: 0 8px;
  font-weight: 500;
}

.preset-button {
  width: 50px;
  height: 50px;
  background-color: var(--black-color);
  border: 1px solid var(--black-color);
  color: var(--white-color);
  margin-right: 8px;
}

.knobs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.knobs__inner {
  width: 100px !important;
  height: 100px !important;
}

.knobs__outer {
  width: 100px !important;
  height: 100px !important;
}
