:root {
  --bg-color: #f2c94c;
  --font-color: #111;
  --gray-color: #333;
  --black-color: #111;
  --led-color: #fa5252;
  --white-color: #ccc;
}

html,
body {
  height: 100%;
  background-color: var(--gray-color);
  font-family: "Inter", sans-serif;
}

body {
  color: var(--font-color);
}
