.led-bar {
    position: relative;
    display: flex;
    width: 140px;
    background: var(--gray-color);
    height: 20px;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #6b6b6b;
}

.led-bar__slider {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.led-bar__bar {
    width: 8px;
    height: 14px;
    background-color: #fa52520f;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.led-bar__bar--on {
    background-color: #fa5252;
    box-shadow: 0px 0px 5px 2px #fa52528f;
}
